In [ ]:
import pandas as pd
import numpy as np
import random

In [ ]:
!wget https://raw.githubusercontent.com/juanluishg/dataproject4_models/main/datasets/emotics_annotations_clean_v4.csv

--2021-06-05 15:21:25--  https://raw.githubusercontent.com/juanluishg/dataproject4_models/main/datasets/emotics_annotations_clean_v4.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 22212982 (21M) [text/plain]
Saving to: ‘emotics_annotations_clean_v4.csv’

emotics_annotations 100%[===================>]  21.18M  50.8MB/s    in 0.4s

2021-06-05 15:21:26 (50.8 MB/s) - ‘emotics_annotations_clean_v4.csv’ saved [22212982/22212982]

In [ ]:
df = pd.read_csv("emotics_annotations_clean_v4.csv")
df.head()

                          filename  ... n_cat
0    COCO_val2014_000000562243.jpg  ...   2.0
1  COCO_train2014_000000288841.jpg  ...   1.0
2    COCO_val2014_000000558171.jpg  ...   3.0
3  COCO_train2014_000000369575.jpg  ...   2.0
4  COCO_train2014_000000213009.jpg  ...   2.0

[5 rows x 21 columns]

In [ ]:
mapping = {"Disapproval": "Angry", "Annoyance": "Angry", "Anger": "Angry", "Disquietment": "Angry",
"Disconnection": "Disgust", "Fatigue": "Disgust", "Embarrassment": "Disgust", "Aversion": "Disgust",
"Doubt/Confusion": "Fear", "Fear" : "Fear",
"Confidence": "Happy", "Happiness": "Happy", "Pleasure": "Happy", "Excitement": "Happy", "Yearning" : "Happy",
"Sadness": "Sad", "Pain": "Sad", "Suffering" : "Sad", 
"Anticipation": "Surprise", "Surprise" : "Surprise",
"Peace": "Neutral", "Affection": "Neutral", "Esteem": "Neutral", "Engagement": "Neutral", "Sympathy": "Neutral", "Sensitivity" : "Neutral"
}

In [ ]:
df["cats"] = df.categories.str.split(",")

In [ ]:
for i, row in df.iterrows():
  phoenetic = [mapping[cat] for cat in row["cats"]]
  df.loc[i, "mapping_cats"] = ','.join(np.unique(np.array(phoenetic)))

In [ ]:
df.head()

                          filename  ...   mapping_cats
0    COCO_val2014_000000562243.jpg  ...   Disgust,Fear
1  COCO_train2014_000000288841.jpg  ...       Surprise
2    COCO_val2014_000000558171.jpg  ...  Happy,Neutral
3  COCO_train2014_000000369575.jpg  ...  Disgust,Happy
4  COCO_train2014_000000213009.jpg  ...          Happy

[5 rows x 23 columns]

In [ ]:
df.to_csv("emotics_annotations_clean_v6.csv")

In [ ]:
df = pd.read_csv("emotics_annotations_clean_v6.csv")

In [ ]:
df["mapping_cats"] = df.mapping_cats.str.split(",")
df["category"] = ""
for i, row in df.iterrows():
  category = row["mapping_cats"]
  random_n = random.randint(0,len(category)-1)
  df.loc[i, "category"] = category[random_n]

In [ ]:
df.head()

   Unnamed: 0                         filename  ...      mapping_cats  category
0           0    COCO_val2014_000000562243.jpg  ...   [Disgust, Fear]      Fear
1           1  COCO_train2014_000000288841.jpg  ...        [Surprise]  Surprise
2           2    COCO_val2014_000000558171.jpg  ...  [Happy, Neutral]   Neutral
3           3  COCO_train2014_000000369575.jpg  ...  [Disgust, Happy]   Disgust
4           4  COCO_train2014_000000213009.jpg  ...           [Happy]     Happy

[5 rows x 25 columns]

In [ ]:
df.to_csv("emotics_annotations_clean_v7.csv")